// -------- Green --------
$green02: rgba(143, 195, 81, 0.5);
$green03: #8fc351;
$green04: #1fff8f;

// -------- Grays --------
$gray01: #fafbfc;
$gray02: #f6f8fa;
$gray03: #fafafa;
$gray04: #e1e4e8;
$gray05: #d1d5da;
$gray06: #959da5;
$gray07: #727171;
$gray08: #212121;
$gray09: #3f3f3f;
$gray10: #2e2e2e;
$gray11: #595757;

// -------- Blue --------
$blue01: #f1f8ff;
$blue02: #dbedff;
$blue03: #c8e1ff;
$blue04: #79b8ff;
$blue05: #00adef;
$blue06: #0366d6;
$blue10: #272c34;

// -------- secondary color --------
$yellow: #ffbb24;
$purple: #8a74ad;
