@import "../global/color";
@import "../global/fontSize";
@import "../global/variable";

// 問題與討論區塊共用style
.comment {
	position: relative;
	width: 100%;
	&:before {
		content: "";
		position: absolute;
		left: 12px;
		bottom: 0;
		top: 30px;
		display: block;
		border-left: 3px solid #26d07c;
		height: 100%;
	}
	&:last-child {
		&:before {
			border: none;
		}
	}
	.titleMarket {
		width: 100%;
		height: 30px;
		font-size: map-get($desktopFont, $h3-size);
		color: #fff;
		padding-left: 40px;
		background-color: $green03;
		border-radius: 50px 0px 0px 50px;
		margin-top: 15px;
	}
	.MarketNumber {
		position: absolute;
		top: -45px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		font-size: map-get($desktopFont, $h3-size);
		border-radius: 50%;
		background-color: #fff;
		color: $green03;
		border: 2px solid $green03;
	}
}
div {
	&.personalInfo {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding-left: 40px;
		margin-top: 15px;
		.avatar {
			display: flex;
		}
		.nameText {
			margin-left: 15px;
			.name {
				font-size: map-get($desktopFont, $h5-size);
				color: $gray08;
			}
			.date {
				font-size: map-get($desktopFont, $h6-size);
				color: $gray07;
				margin-top: 3px;
			}
		}
	}
	.commentWrapper {
		position: relative;
		display: grid;
		grid-template-rows: auto fit-content(20%);
		row-gap: 10px;
		color: $gray07;
		padding-left: 75px;
		margin-top: 15px;
		.commentBox {
			width: 100%;
			.contentBox {
				input {
					width: calc(100% - 42px);
				}
				.commentBoxInner {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.commentContent {
						font-size: map-get($desktopFont, $h4-size);
					}
					.rightContent {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.lattice {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 22px;
							height: 22px;
							padding: 3px;
							border-radius: 50%;
							margin-right: 10px;
							background-color: $gray05;
							cursor: pointer;
						}
						.clicked {
							@extend .lattice;
							color: #fff;
							background-color: $blue06;
						}
						.number {
							font-size: map-get($desktopFont, $h5-size);
						}
					}
				}
			}
			&:hover {
				.editDelete {
					visibility: visible;
				}
			}
			.editDelete {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				visibility: hidden;
				margin-top: 15px;
				width: calc(100% - 42px);
				> div {
					color: $blue06;
					font-size: map-get($desktopFont, $h5-size);
					cursor: pointer;
					&:first-child {
						padding-right: 20px;
					}
				}
			}
		}
		.feedbackText {
			width: calc(100% - 42px);
			font-size: map-get($desktopFont, $h5-size);
			text-align: right;
			color: $blue06;
			cursor: pointer;
		}
	}
}
