@import "../../styles/global/_fontSize.scss";
@import "../../styles/global/color";

.header {
	width: 100vw;
	min-width: 960px;
	background-color: $gray03;
	border-bottom: 4px solid $gray09;
	z-index: 999;
	.headerInner {
		width: 100%;
		display: grid;
		align-items: center;
		grid-template-columns: 226px auto fit-content(10%);
		column-gap: 30px;
		padding: 10px 24px;
		> a {
			display: flex;
			align-items: center;
			svg {
				width: 48px;
				height: 48px;
			}
			.logoText {
				font-size: map-get($desktopFont, $h2-size);
				font-weight: $font-weight-bold;
				margin-left: 10px;
				color: $gray09;
			}
		}
		nav {
			> ul {
				display: grid;
				grid-template-columns: 144px 144px auto;
				column-gap: 35px;
				> li {
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
					> a {
						font-size: map-get($desktopFont, $h3-size);
						font-weight: $font-weight-bold;
						color: $gray07;
						&:hover {
							color: $blue05;
						}
					}
				}
			}
		}
		.personBox {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			> div {
				margin-left: 10px;
			}
		}
	}
}
