@import "../../../styles/global/color";
@import "../../../styles/global/fontSize";
@import "../../../styles/global/_variable.scss";

.feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
    .feedbackEvent {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin-bottom: 15px;
        .feedbackText {
            color: $blue06;
            font-size: map-get($desktopFont, $h6-size);
            cursor: pointer;
        }
    }
}
.ReplyEditDelete {
    display: flex;
    align-items: center;
    width: 100%;
    > div {
        margin-right: 5px;
        color: $blue06;
        min-width: 25px;

        &:last-child {
            margin-right: 0;
        }
    }
}
