@import "../../../styles/global/color";
@import "../../../styles/global/fontSize";
@import "../../../styles/global/_variable.scss";

.replyItem {
	width: 100%;
	.replyPersonalInfo {
		width: 100%;
		display: flex;
		align-items: center;
		.nameText {
			margin-left: 10px;
			.name {
				font-size: map-get($desktopFont, $h5-size);
				color: $gray08;
			}
		}
	}
	.commentBox {
		width: 100%;
		display: flex;
		flex-direction: column;
		.contentBox {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			margin-top: 10px;
			.commentContent {
				display: inline-block;
				width: calc(100% - 42px);
				font-size: map-get($desktopFont, $h5-size);
			}
		}
		&:hover {
			& .ReplyEditDelete {
				visibility: visible;
			}
		}
		.ReplyEditDelete {
			visibility: hidden;
			display: flex;
			justify-content: flex-end;
			width: calc(100% - 42px);
			margin-top: 10px;
			> div {
				display: flex;
				align-items: center;
				> div {
					font-size: map-get($desktopFont, $h5-size);
					padding-right: 20px;
					color: $blue06;
					cursor: pointer;
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
}
